body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 1.62;
}
a, button {
    transition: all .3s linear;
}
a:focus, a:hover {
    text-decoration: none;
}
.header-block {
    border-bottom: 2px solid #fff;
    color: #fff;
}
.header-row-blue {
    background-color: #200b8b;
}
.header-row-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.header-contact-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.header-flex-top button {
    background-color: transparent;
    border: none;
    border-radius: 0;
}
.header-contact-block a, .header-flex-top button {
    color: #200b8b;
    margin-left: 15px;
    border-bottom: 1px solid #200b8b;
    font-weight: bold;
    padding: 5px;
}

.header-contact-block a:hover, .header-flex-top button:hover {
    border-bottom: 1px solid transparent;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    border-bottom: 1px solid transparent;
}
.header-logo img {
    width: 315px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
    border-bottom: 1px solid #fff;
}
.banner-item-text {
    position: absolute;
    width: 478px;
    top: 105px;
    left: 20%;
    color: #333;
    font-weight: bold;
    padding: 20px;
    background-color: rgb(100%, 100%, 100%, 0.6);
}
.owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chevron-background {
    font-size: 55px;
    color: #ebbd57;
    transition: all .3s linear;
}
.header-flex-top {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
button.close {
    font-size: 26px;
    z-index: 1;
    position: relative;
    right: 15px;
    top: 7px;
}
.owl-feedback-form input, .owl-feedback-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid rgba(122, 122, 122, 0.25);
    border-radius: 2px;
}
.title-page {
    text-align: center;
    margin-bottom: 40px;
}
.order-button-click {
    background-color: transparent;
    border: 4px solid #200b8b;
    padding: 6px 20px;
    color: #200b8b;
    border-radius: 4px;
}
.order-button-click:hover {
    background-color: #200b8b;
    color: #fff;
}
.navbar-default {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.banner-image-block img {
    width: 100%;
}
.main-banner-block {
    position: relative;
    margin-bottom: 40px;
}
.main-banner-button {
    bottom: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.main-banner-button .order-button-click {
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.5);
}
.practics-item-block {
    width: 32%;
    padding: 40px 25px;
    position: relative;
    margin: 0 6px 20px 6px;
    box-shadow: 0px 4px 5px #777;
}
.button-title-practics {
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: bold;
    display: block;
    margin-bottom: 40px;
    padding: 0;
    position: relative;
    border-bottom: 1px solid transparent;
    text-align: left;
}
.button-title-practics:hover {
    border-bottom: 1px solid #fff;
}
.flex-block-pracktics {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.overlay-practics {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal-content {
    border-radius: 0;
}
.about-block-main {
    margin-bottom: 40px;
}
.about-block-main-img {
    width: 40%;
    float: left;
    margin-right: 40px;
    margin-bottom: 40px;
}
.about-block-main-img img {
    width: 100%;
}
.black-main-page-button {
    border-color: #0d0826;
    color: #0d0826;
}
.black-main-page-button:hover:after {
    border-color: #0d0826;
}
.main-success-img img {
    width: 100%;
}
.main-success-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-success-item {
    width: 24%;
    text-align: center;
    margin-bottom: 40px;
    border: 1px solid #0d0826;
    padding-bottom: 30px;
    box-shadow: 0px 4px 5px #777;
}
.main-success-title a {
    color: #0d0826;
    border-bottom: 1px solid #0d0826;
}
.main-success-title {
    margin: 20px 0 40px 0;
    height: 50px;
}
.main-success-title a:hover {
    border-color: transparent;
}
.post-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.post-item-wrap {
    background: #f5f5f5;
    position: relative;
    width: 31%;
    margin-bottom: 40px;
}
.post-link {
    text-decoration: none;
    display: block;
    padding: 30px;
    color: #0d0826;
}
.post-item-wrap:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #777;
    transform: rotate(1deg);
    transform-origin: left bottom;
    transition: .3s ease-in-out;
}
.post-item-wrap:hover:after {
    top: 5px;
    left: 5px;
    transform: rotate(2deg);
}
.post-item-wrap p {
    font-size: 14px;
}
.footer-page {
    background-color: #0d0826;
    padding: 30px 0;
    margin-top: 40px;
}
.footer-flex-block {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
.footer-logo img {
    width: 315px;
}
.footer-flex-block a {
    color: #fff;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: 1px solid #fff;
}
.footer-flex-block a:hover {
    border-color: transparent;
}
.footer-copyright {
    text-align: center;
    font-size: 12px;
    color: #fff;
}
.footer-copyright a {
    color: #fff;
}
.footer-logo a {
    border-color: transparent;
}
.social-block a {
    border-color: transparent;
    font-size: 22px;
}
.about-button-block {
    text-align: center;
    margin-bottom: 40px;
}
.contact-tel-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.contact-col-block {
    width: 30%;
}
.contact-title-bold {
    font-weight: bold;
    font-size: 18px;
}
.contact-sub-title a {
    color: #0d0826;
    border-bottom: 1px solid #0d0826;
    font-weight: bold;
}
.contact-sub-title a:hover {
    border-bottom-color: transparent;
}
.contact-title {
    text-align: center;
}
.certificate-item-img {
    margin-bottom: 40px;
}
.certificate-item-img img {
    width: 100%;
}
.certificate-item {
    width: 33%;
}
.certificate-block {
    display: flex;
    justify-content: space-around;
}
.breadcrumb {
    background-color: transparent;
    padding: 10px 15px 8px 0;
}
.breadcrumb a, .breadcrumb span {
    color: #0d0826;
    padding: 0 2px;
}
.pagination {
    display: block;
    margin: 20px 0;
    float: left;
}
.ditto_currentpage {
    color: #0d0826;
    background-color: #fff;
    border: 1px solid #0d0826;
    padding: 2px 7px;
    margin: 2px;
    font-weight: bold;
}
.ditto_page {
    padding: 2px 7px;
    color: #fff;
    background-color: #0d0826;
    text-decoration: none;
    border: 1px solid #0d0826;
}
.news-block {
    border: 2px solid #0d0826;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}
.news-block-img img {
    width: 100%;
    max-height: 100%;
}
.news-block-img {
    width: 30%;
}
.news-block-body {
    width: 70%;
    text-align: left;
    padding: 0 10px;
}
.news-block-body h3 {
    font-weight: bold;
    margin-bottom: 20px;
}
.news-block-body p {
    margin-bottom: 20px;
}
.read-later-block {
    margin-bottom: 20px;
}
.read-later-block a {
    color: #0d0826;
    border-bottom: 1px solid #0d0826;
}
.read-later-block a:hover {
    border-bottom-color: transparent;
}
.news-images {
    width: 35%;
    float: left;
    margin-right: 20px;
}
.news-images img {
    width: 100%;
    margin: 0 20px 20px 0;
}
.advantages-item-img img {
    width: 100%;
}
.advantages-item-img {
    margin: 0 30px 20px 0;
    float: left;
    width: 300px;
}
.advantages-item-block {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #0d0826;
}
.advantages-item-title {
    margin-bottom: 30px;
}
@media (min-width: 768px) {
    .navbar-nav {
        display: flex;
        justify-content: center;
        width: 100%;
        font-weight: bold;
    }
}
@media (max-width: 991px) {
    .practics-item-block, .main-success-item, .post-item-wrap {
        width: 48%;
    }
    .footer-flex-block {
        flex-wrap: wrap;
    }
}
@media(max-width: 767px) {
    .header-row-flex {
        flex-wrap: wrap;
    }
    .order-button-click {
        margin: 15px;
    }
    .navbar-toggle.active .icon-bar:nth-of-type(1) {
        top: 6px;
        transform: rotate(45deg);
    }
    .navbar-toggle.active .icon-bar:nth-of-type(2) {
        background: transparent;
    }
    .navbar-toggle.active .icon-bar:nth-of-type(3) {
        top: -6px;
        transform: rotate(-45deg);
    }
    .practics-item-block, .main-success-item, .post-item-wrap {
        width: 100%;
    }
    .about-block-main-img {
        width: 100%;
        float: none;
        margin-bottom: 40px;
        margin-right: 0;
    }
    .about-block-main-text {
        text-align: justify;
    }
    .banner-image-block {
        text-align: center;
    }
    .banner-image-block img {
        width: auto;
        height: 400px;
        object-fit: cover;
        max-width: 100%;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #0d0826;
    }
    .navbar-default .navbar-toggle {
        border-color: #0d0826;
        background-color: #0d0826;
    }
    .practics-item-block .order-button-click {
        margin: 0;
    }
    .contact-tel-block {
        flex-direction: column;
    }
    .contact-col-block {
        width: 100%;
        margin-bottom: 20px;
    }
    .certificate-block {
        flex-wrap: wrap;
    }
    .certificate-item {
        width: 100%;
    }
    .news-block {
        flex-direction: column;
    }
    .news-block-img, .news-block-body {
        width: 100%;
    }
    .advantages-item-img {
        width: 100%;
    }
}
@media(max-width: 500px) {
    .header-logo img {
        width: 100%;
    }
    .header-contact-block a {
        font-size: 18px;
    }
    .main-banner-button .order-button-click {
        font-size: 22px;
    }
    .footer-logo img {
        width: 100%;
    }
    .practics-item-block {
        background-size: cover;
    }
    .news-images {
        width: 100%;
        margin-right: 0;
    }
}